@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.card {
    max-width: 300px;
    background-color: #e186ed;
    border-radius: 30px;
    padding: 30px;
    font-family: 'Major Mono Display', monospace;

    &__item {
        font-weight: 600;
        font-size: 30px;
    }

    &__poyo__name {
        padding: 15px;
    }
}